<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.chrisspiegl.alfred-flatten-folder</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>421D849D-5F8B-4206-BB5C-3A2F00ECEBCE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E4092AE0-A578-4577-A554-5F8029082669</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6AE6B9E4-143F-46C5-864C-629BCB19969D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>421D849D-5F8B-4206-BB5C-3A2F00ECEBCE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Spiegl</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>alfred-flatten-folder</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>1</integer>
				<key>filetypes</key>
				<array>
					<string>public.folder</string>
				</array>
				<key>name</key>
				<string>Flatten Folder(s)</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>6AE6B9E4-143F-46C5-864C-629BCB19969D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>./node_modules/.bin/run-node ./index.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>421D849D-5F8B-4206-BB5C-3A2F00ECEBCE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Flattened the Folder Structure</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>E4092AE0-A578-4577-A554-5F8029082669</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Alfred workflow to to flatten a folder and it's contents

https://github.com/chrisspiegl/alfred-flatten-folder</string>
	<key>uidata</key>
	<dict>
		<key>421D849D-5F8B-4206-BB5C-3A2F00ECEBCE</key>
		<dict>
			<key>xpos</key>
			<integer>180</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>6AE6B9E4-143F-46C5-864C-629BCB19969D</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>E4092AE0-A578-4577-A554-5F8029082669</key>
		<dict>
			<key>xpos</key>
			<integer>350</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
	</dict>
</dict>
</plist>
